/* CSS Variables */
:root {
  --Slate-900: #1F314F;
  --Slate-500: #68778D;
  --Slate-300: #D5E1Ef;
  --White: #FFFFFF;
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", serif;
  background-color: var(--Slate-300);
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Typography */
.text-preset-1 {
  color: var(--Slate-900);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 120%;
}

.text-preset-2 {
  color: var(--Slate-500);
  font-size: .785rem;
  letter-spacing: 0.013rem;
  line-height: 140%;
}

/* Layout */
.container {
  max-width: 20rem;
  max-height: 30.625rem;
  border-radius: 1.25rem;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.component-image,
.component-text {
  width: 14rem;
  
}

.container picture {
  height: 14rem;
  border-radius: 1.25rem;
  background-image: url(images/image-qr-code.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1rem 1rem 0 1rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 0 1rem 1.79rem 1rem;
  text-align: center;
}





